@import "../../node_modules/normalize.css/normalize.css";

* {
  font-family: "Noto Sans", sans-serif !important;
  letter-spacing: 0.6px !important;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important;
  image-rendering: optimizeQuality !important;
  shape-rendering: geometricPrecision !important;
}

@import "theme";
@import "upload";

:root,
body {
  background-color: $background !important;
}
