#upload-indicator {
  position: absolute;
  top: calc(50vh - 25vmin);
  left: calc(50vw - 25vmin);
  width: 50vmin;
  height: 50vmin;
  z-index: 1;

  background-image: linear-gradient(to top, $primary 50%, $surface 50%);
  background-size: 100% 200%;
  background-repeat: no-repeat;
  mask: {
    image: url(../img/upload.svg);
    repeat: no-repeat;
    size: 50vmin 50vmin;
    position: center;
  }
}

input[type="file"] {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}
