#upload {
  width: 100vw;
  height: 100vh;
  background-image: url(../img/upload.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vmin;
}

#send {
  position: fixed;
  right: $padding;
  bottom: $padding;
  border-radius: 50%;
  background-color: $primary;
  background-image: url(../img/ios_share.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 14px;
  background-size: 50%;
  z-index: 101;
  cursor: pointer;
  width: 64px;
  height: 64px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%),
    0 3px 1px -2px rgb(0 0 0 / 20%);

  &:hover {
    transform: scale(1.1);
  }
}

input[type="file"] {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}

.prompt {
  position: fixed;
  top: $padding;
  left: $padding;
  right: $padding;
  width: calc(100% - 4 * $padding);
  padding: $padding;
  border-radius: $padding;
  background-color: $primary-variant;
  color: $background;
  z-index: 102;
}
